<mat-toolbar class="navbar">
  <span class="ion ion-md-football">Scout Master
  </span>
  <span class="navbar-space"></span>
  <button class="nav-btn" mat-raised-button routerLink="/">
    Home
  </button>
  <button class="nav-btn" mat-raised-button routerLink="/players">
    Database
  </button>
  <!-- <button class="nav-btn" mat-raised-button routerLink="/team">
    Team
  </button> -->
  <button class="nav-btn" mat-raised-button routerLink="/login">
    Login/Logout
  </button>
  <button class="nav-btn" mat-raised-button routerLink="/profile">
    Profile
  </button>
</mat-toolbar>
