  <mat-card class="cardForSignup">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1>Scout Signup</h1>
      <hr color="darkblue" />
      <div>
      <mat-form-field class="signup-component">
        <input matInput type="text" placeholder="Username" formControlName="username" required>
      </mat-form-field>
    </div>
      <div>
        <mat-form-field class="signup-component">
          <input matInput type="text" placeholder="Email" formControlName="email" required>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="signup-component">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
      </div>   
      <!-- <div>
        <mat-form-field class="signup-component">
          <input matInput type="password" placeholder="Confirm Password" formControlName="password" required>
        </mat-form-field>
      </div>  -->
      <div class="matButton-signup-card-signup">
        <button mat-raised-button class="submit" color="primary">Signup</button>
      </div>
      <a routerLink="/login">Already have an account?</a>
    </form>
  </mat-card>