<mat-card>
        <form name="form" style="text-align: center" (ngSubmit)="onSubmit()" [formGroup]="editProfileForm">
        <!-- <app-profile-navbar></app-profile-navbar> -->
        
            <div>
              <h1>Edit Profile</h1>
              <mat-form-field>
                <input matInput formControlName="username" type="text" name="username" placeholder="Username" class="username">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput formControlName="email" type="text" name="email" placeholder="Email">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input matInput formControlName="password" type="password" name="password" placeholder="Password" class="password">
              </mat-form-field>
            </div>
            <!-- <div>
              <mat-form-field>
                <input matInput formControlName="confirmpassword" type="password" name="confirmpassword" placeholder="Confirm Password">
              </mat-form-field>
            </div> -->
            <span>
              <button class="btn-primary" mat-raised-button>Submit</button>
            </span> 
          </form>
          <!-- <button class="btn-primary" mat-raised-button (click)="deleteAccountBtn(user.id)">Delete Account</button> -->
        </mat-card>