@import"~ionicons/dist/css/ionicons.min.css";

mat-table {
    width: 100%;
  }
h1{
  text-align: center;
}
hr{
  width: 75%
}
.mat-players-table{
  width: 90%;
  margin-left: 5%;
}
mat-table{
  width: 200px;
}
mat-headercell{
  width: 50px;
}


mat-header-cell.mat-sort-header-sorted{
  color: black;
}
.mat-form-field{
  font-size: 14px;
  width: 25%;
  margin-left: 13%;
}
button{
  color: primary;
}
mat-row:hover{
  background-color: lightgray;
}
mat-headercell{
  background-color: white;
}
.addPlayerBtn{
  margin-left: 80.6%;
  font-size: larger;
  border-radius: 10%;
  background-color: rgb(0, 116, 239);
  color: white;
}
.addToTeam{
  color: black;
  background-color: #2fef3c;
  border-radius: 10%;
  font-size: 23px;
}
.editPlayer{
  color: black;
  background-color: #efef2d;
  border-radius: 10%;
  font-size: 20px;
}
.deletePlayer{
  color: black;
  background-color: #d64942;
  border-radius: 10%;
  font-size: 20px;
}
.createBtn{
  width: 24px;
}
.deleteBtn{
  width: 24px;
}
.addBtn{
  width: 24px;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}