table {
    width: 100%;
  }
h1{
  text-align: center;
}
hr{
  width: 75%
}
.mat-players-table{
  width: 90%;
  margin-left: 5%;
}
table{
  width: 200px;
}
th{
  width: 50px;
}
.addToTeam{
  color: blue;
  background-color: #2fef3c;
  border-radius: 10%;
  font-size: 12px;
}
.addPlayerBtn{
  margin-left: 80.6%;
  font-size: larger;
  border-radius: 10%;
}
th.mat-sort-header-sorted{
  color: black;
}
.mat-form-field{
  font-size: 14px;
  width: 25%;
  margin-left: 13%;
}
button{
  color: primary;
}
tr:hover{
  background-color: lightgray;
}
th{
  background-color: white;
}