.borderField{
    width: 90%;
    height: 1200px;
    margin: auto;
    /* background-image: url("../assets/soccerField.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid green;
    opacity: 0.9;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.space{
    height: 50px;
}
.text{
    font-size: 25px;
    text-decoration: underline;
    margin-top: 20px;
}
.goalie{
    text-decoration: underline;
}
.midfield{
    font-size: 25px;
    text-decoration: underline;
    margin-top: 100px;
}
