<!-- <app-team-navbar></app-team-navbar>

<h1>Team</h1>
<br>
<br>
 <div class="borderField">
 <div class="text">
   <br>
   <br>
  <mat-grid-list cols="1" rowHeight="50px">
    <mat-grid-tile class="goalie">Goalie</mat-grid-tile>
  </mat-grid-list>
  </div>
<div class="space"></div>
  <div class="text">
  <mat-grid-list cols="4" rowHeight="50px">
    <mat-grid-tile>Defender</mat-grid-tile>
    <mat-grid-tile>Defender</mat-grid-tile>
    <mat-grid-tile>Defender</mat-grid-tile>
    <mat-grid-tile>Defender</mat-grid-tile>
  </mat-grid-list>
  </div>
  <div class="space"></div>
  <div class="midfield">
  <mat-grid-list cols="4" rowHeight="250px">
    <mat-grid-tile>Midfield</mat-grid-tile>
    <mat-grid-tile>Midfield</mat-grid-tile>
    <mat-grid-tile>Midfield</mat-grid-tile>
    <mat-grid-tile>Midfield</mat-grid-tile>
  </mat-grid-list>
  </div>
  <div class="space"></div>
  <div class="text">
  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile>Forward</mat-grid-tile>
    <mat-grid-tile>Forward</mat-grid-tile>
  </mat-grid-list>
  </div>
</div>

 -->
